<div class="header">
  <!-- Contenedor para el logo -->
  <div class="logo-container">
    <a routerLink="/">
      <img
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/1280px-Logo_of_YouTube_%282015-2017%29.svg.png"
        alt="Logo"
      />
    </a>
  </div>

  <!-- Contenedor para los enlaces del menú -->
  <div class="menu-container">
    <ul class="menu">
      <li>
        <a routerLink="/list-videos">Lista de Videos</a>
      </li>
      <li>Más vistos</li>
      <li>Subir Video</li>
      <li>
        <ng-container *ngIf="!cookieService.get('token_access'); else loggedIn">
          <a routerLink="/login">Iniciar sesión</a>
        </ng-container>
        <ng-template #loggedIn>
          <span class="logout" (click)="logout()">Cerrar sesión</span>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
<hr />
