.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-bottom: 2px solid #ddd;
}

.logo-container {
  flex: 0 0 auto; /* El logo no se estira */
}

.logo {
  height: 50px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  flex: 1; /* Ocupa el espacio restante */
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.menu li a,
.menu li span {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.menu li a:hover,
.menu li span:hover {
  color: #007bff;
}

.logout {
  cursor: pointer;
}
